@charset "utf-8";
/* CSS Document */

 body{
    text-align:center;
    background:grey;
  }
/*.tablelogin{
	margin:0 auto;
	border:1px solid #00F;
	border-radius:0px 20px 0px 20px;
	-moz-border-radius:0px 20px 0px 20px;
	-webkit-border-radius:0px 20px 0px 20px;
	width:250px;
}
article{
	margin:100px 500px;
	border-radius:0px 20px 0px 20px;
	-moz-border-radius:0px 20px 0px 20px;
	-webkit-border-radius:0px 20px 0px 20px;
	width:250px;
	box-shadow:3px 3px 10px black;
	-moz-box-shadow:3px 3px 10px black;
	-webkit-box-shadow:3px 3px 10px black;
	-o-box-shadow:3px 3px 10px black;
	transition:opacity 1s, box-shadow 1s, transform 1s, background 1s;
	-moz-transition:opacity 1s, -moz-box-shadow 1s, -moz-transform 1s, background 1s;
	-webkit-transition:opacity 1s, -webkit-box-shadow 1s, -webkit-transform 1s, background 1s;
	-o-transition:opacity 1s, -o-box-shadow 1s, -o-transform 1s, background 1s;
	opacity:0.5;
	transform:scale(1,1);
	-moz-transform:scale(1,1);
	-webkit-transform:scale(1,1);
	-o-transform:scale(1,1);
}
.aligntext{
	text-align:right;
}
.inputstyle{
	width:150px;
}*/